<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= "#{@user&.username}" %> has invited to you</h1>
    <p>
      To login to the site, just follow this link: <a href="http://localhost:3000/registration" >click here</a>.
    </p>
  </body>
</html>